@import url('https://fonts.googleapis.com/css2?family=Francois+One&family=Montserrat&display=swap');
#content {
    max-width: 1600px;
    margin: 0 auto;
}
/* HEADER START */
/* h1, h2, h3, h4 {
    font-family: Montserrat, Arial, sans-serif;
}

header {
    background-color: #41748a;
    display: grid;
    grid-template-columns: 150px auto;
}
header img.logo {
    width: 80px;
}
#logo-link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}

nav {
    display: flex;
    justify-content: space-around;
}
nav a:hover {
    background-color: #090749; */
}
nav a {
    color: white;
    padding: 35px;
    text-align: center;
    text-decoration: none;
}

#hero {
    display: grid;
    /* 20% 60% 20% */
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px;
}
#hero-box {
    grid-column: 1 / 4;
    grid-row: 1 / 3;
    z-index: -1;
}
#hero-msg {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    /* We also need to push the hero text and button down by the same measurement so it doesn't go over the top of the navigation menu. */
    margin-top: 100px;
}
#hero-msg h1, #hero-msg h4 {
    text-align: center;
    color: #DD7E11;
}
#hero #hero-img {
    /* 100% is equivalent to max-width */
    width: 100%;
}
/* Hero Button Box */
.button-box {
    text-align: center;
}
.home-title {
    color: #DD7E11;
    margin-top: 10px;
    font-size: 2em;
}
.book {
    background-color: #41748a;
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    /* Rounds edges */
    border-radius: 5px;
}
.book:hover {
    background-color: #090749;
}

body {
    background-color: white;
    font-family: "Francois One", Arial, sans-serif;
    font-size: 22px;
    padding: 0;
    margin: 0;
}
/* HEADER END */

/* MAIN (home-grid) START */
.head-bar {
    background-color: #41748a;
    text-align: center;
    margin: 20px;
    padding: 5px;
    color: white;
    border-radius: 10px;
}

.main-content {
    background-color: #41748a;
    margin: 20px;
    padding: 10px;
    margin-bottom: 50px;
    border-radius: 10px;
}
.main-content h3 {
    color: white;
    font-weight: lighter;
}
.main-content p {
    padding: 0;
    margin: 0;
}

.background-template {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
.background {
    height: 600px;
    background-color: #DD7E11;
    grid-column: 2 / 10;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr  1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
}
.background img {
    width: 100%;
    height: 100%;
    grid-column: 2 / 5;
    grid-row: 2 / 6;
    box-shadow: 5px 5px 10px #6f7364;
    margin-top: -20px;
    margin-left: 50px;
    border-radius: 5px;
}

.text-box {
    grid-column: 8 / 11;
    grid-row: 2 / 6;
    background-color: #b16815;
    padding: 20px;
    margin-right: 50px;
    margin-left: -50px;
    box-shadow: 5px 5px 10px #6f7364;
    border-radius: 5px;
}
.text-box h2 {
    text-decoration: underline;
    grid-column: 7 / 10;
    text-align: center;
}
.text-box p {
    grid-column: 7 / 10;
    font-size: smaller;
    text-align: center;
}
.text-box a {
    color: #090749;
    text-decoration: none;
}
.text-box a:hover {
    color: white;
    text-decoration: underline;
}
/* MAIN END */

/* FOOTER START */
footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #41748a;
    color: black;
    padding: 25px 50px;
    margin-top: 50px;
}
footer p {
    font-size: 1.2em;
}
footer p a:hover {
    text-decoration: underline;
}
footer a {
    color: #090749;
    text-decoration: none;
}
footer a:hover {
    color: white;
}
footer .social {
    padding-top: 15px;
}
/* FOOTER END */