@import url('https://fonts.googleapis.com/css2?family=Francois+One&family=Montserrat&display=swap');
/* --heading-font: "Francois One";
--paragraph-font: Montserrat; */

#content {
    max-width: 1600px;
    margin: 0 auto;
}

header {
    background-color: #41748a;
    display: grid;
    grid-template-columns: 150px auto;
}
header img.logo {
    width: 80px;
}
#logo-link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}

nav {
    display: flex;
    justify-content: space-around;
}
nav a:hover {
    background-color: #090749;
}
nav a {
    color: white;
    padding: 35px;
    text-align: center;
    text-decoration: none;
}

#hero {
    display: grid;
    /* 20% 60% 20% */
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px;
}
#hero-box {
    grid-column: 1 / 4;
    grid-row: 1 / 3;
    z-index: -1;
}
#hero-msg {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    /* We also need to push the hero text and button down by the same measurement so it doesn't go over the top of the navigation menu. */
    margin-top: 100px;
}
#hero-msg h1, #hero-msg h4 {
    text-align: center;
    color: #DD7E11;
}
#hero #hero-img {
    /* 100% is equivalent to max-width */
    width: 100%;
}
/* Hero Button Box */
.button-box {
    text-align: center;
}

.home-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
main section {
    text-align: center;
}
main section img {
    box-sizing: border-box;
}
main .icon {
    width: 80px;
}
/* Card Content */
.card-img, .mountains {
    width: 100%;
}
#rivers-card {
    grid-column: 2 / 4;
    grid-row: 2 / 3;
}
#camping-card {
    grid-column: 5 / 7;
    grid-row: 2 / 3;
}
#rapids-card {
    grid-column: 8 / 10;
    grid-row: 2 / 3;
}
#background {
    height: 725px;
    background-color: #DD7E11;
    grid-column: 1 / 11;
    grid-row: 4 / 9;
}
.mountains {
    grid-column: 2 / 7;
    grid-row: 5 / 8;
    box-shadow: 5px 5px 10px #6f7364;
}
.msg {
    background-color: #b16815;
    line-height: 1.5em;
    padding: 35px;
    grid-column: 6 / 10;
    grid-row: 6 / 7;
    box-shadow: 5px 5px 10px #6f7364;
}
.msg h2 {
    color: white;
}
.msg p {
    color: black;
    font-size: .8em;
    padding-bottom: 15px;
}

h1, h2, h3, h4 {
    font-family: Montserrat, Arial, sans-serif;
}
h2 {
    margin: 0;
}

.icon {
    padding-top: 10px;
}

body {
    background-color: white;
    font-family: "Francois One", Arial, sans-serif;
    font-size: 22px;
    padding: 0;
    margin: 0;
}

.card-img {
    border: 10px solid #090749;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #6f7364;
}
.card-img:hover {
    opacity: .6;
    transform: scale(1.1)
}
#rivers-card, #camping-card, #rapids-card {
    margin: 200px 0;
}

/* links */
.book, .join {
    background-color: #41748a;
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    /* Rounds edges */
    border-radius: 5px;
}
.book:hover, .join:hover {
    background-color: #090749;
}

footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #41748a;
    color: black;
    padding: 25px 50px;
    margin-top: 200px;
}

.home-title {
    color: #DD7E11;
    margin-top: 10px;
    font-size: 2em;
}

/* SECOND PAGE */
/* MAIN (home-grid) START */
.head-bar {
    background-color: #41748a;
    text-align: center;
    margin: 20px;
    padding: 5px;
    color: white;
    border-radius: 10px;
}

.main-content {
    background-color: #41748a;
    margin: 20px;
    padding: 10px;
    margin-bottom: 50px;
    border-radius: 10px;
}
.main-content h3 {
    color: white;
    font-weight: lighter;
}
.main-content p {
    padding: 0;
    margin: 0;
}

.background-template {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
#faq-background {
    height: 600px;
    background-color: #DD7E11;
    grid-column: 2 / 10;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr  1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
}
#faq-background img {
    width: 100%;
    height: 100%;
    grid-column: 2 / 5;
    grid-row: 2 / 6;
    box-shadow: 5px 5px 10px #6f7364;
    margin-top: -20px;
    margin-left: 50px;
    border-radius: 5px;
}

.text-box {
    grid-column: 8 / 11;
    grid-row: 2 / 6;
    background-color: #b16815;
    padding: 20px;
    margin-right: 50px;
    margin-left: -50px;
    box-shadow: 5px 5px 10px #6f7364;
    border-radius: 5px;
}
.text-box h2 {
    text-decoration: underline;
    grid-column: 7 / 10;
    text-align: center;
}
.text-box p {
    grid-column: 7 / 10;
    font-size: smaller;
    text-align: center;
}
.text-box a {
    color: #090749;
    text-decoration: none;
}
.text-box a:hover {
    color: white;
    text-decoration: underline;
}
/* MAIN END */

/* FOOTER START */
footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #41748a;
    color: black;
    padding: 25px 50px;
    margin-top: 50px;
}
footer p {
    font-size: 1.2em;
}
footer p a:hover {
    text-decoration: underline;
}
footer a {
    color: #090749;
    text-decoration: none;
}
footer a:hover {
    color: white;
}
footer .social {
    padding-top: 15px;
}
/* FOOTER END */

@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    .home-title {
        font-size: 25px;
        color: #6f7364;
    }
    #rivers-card, #camping-card, #rapids-card { 
        margin: 50px auto;
        width: 60%;
    }
    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    .main-content {
        font-size: x-small;
    }
    .main-content h3 {
        font-size: small;
    }
    #background {
        display: none;
    }
    .head-bar {
        font-size: 10px;
    }
    #faq-background {
        height: 400px;
    }
    #faq-background img {
        grid-column: 2 / 6;
        grid-row: 2 / 5;
        margin: 0 auto;
        margin-top: 10px;
    }
    #faq-background .text-box {
        font-size: x-small;
        grid-column: 6 / 11;
        grid-row: 3 / 6;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
}