@import url('https://fonts.googleapis.com/css2?family=Francois+One&family=Montserrat&display=swap');
/* --heading-font: "Francois One";
--paragraph-font: Montserrat; */


#content {
    max-width: 1600px;
    margin: 0 auto;
}

h1, h2, h3, h4 {
    font-family: Montserrat;
}
h4 {
    color: black;
}
h2 {
    margin: 0;
}

nav a {
    text-align: center;
    text-decoration: none;
}

#hero-msg h1, #hero-msg h4 {
    text-align: center;
}

/* Hero Button Box */
.button-box {
    text-align: center;
}

/* Card Content */
main section {
    text-align: center;
}

#background {
    height: 725px;
}

header img.logo {
    width: 80px;
}

main .icon {
    width: 80px;
}

.icon {
    padding-top: 10px;
}

#hero #hero-img {
    /* 100% is equivalent to max-width */
    width: 100%;
}

/* Colors to these
  --primary-color: white;
  --secondary-color: #41748a; lighter blue
  --accent1-color: #090749; dark blue
  --accent2-color: #DD7E11; orange
*/
body {
    background-color: white;
    font-family: "Francois One", Arial, sans-serif;
    font-size: 22px;
    padding: 0;
    margin: 0;
}

header {
    background-color: #41748a;
}

nav a:hover {
    background-color: #090749;
}
nav a {
    color: white;
    padding: 35px;
}

#rivers-card, #camping-card, #rapids-card {
    margin: 200px 0;
}

.card-img {
    border: 10px solid #41748a;
}

main section img {
    box-sizing: border-box;
}

/* links */
.book, .join {
    background-color: #41748a;
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    /* Rounds edges */
    border-radius: 5px;
}
.book:hover, .join:hover {
    background-color: #090749;
}

#background {
    background-color: #DD7E11;
}

/* above footer */
.msg {
    background-color: #DD7E11;
    line-height: 1.5em;
    padding: 35px;
}
.msg h2 {
    color: white;
}
.msg p {
    color: black;
    font-size: .8em;
    padding-bottom: 15px;
}

footer {
    background-color: #41748a;
    color: black;
    padding: 25px 50px;
    margin-top: 200px;
}
footer p {
    font-size: 1.2em;
}
footer p a:hover {
    text-decoration: underline;
}
footer a {
    color: #090749;
    text-decoration: none;
}
footer a:hover {
    color: white;
}
footer .social {
    padding-top: 15px;
}

.home-title {
    color: #DD7E11;
    margin-top: 10px;
}

.home-title {
    font-size: 2em;
}

#logo-link {
    padding-top: 5px;
}