@import url('https://fonts.googleapis.com/css2?family=Acme&family=Caveat&family=Fjalla+One&family=Josefin+Sans&family=Ubuntu+Condensed&display=swap');

h1, h2, h3, h4 {
    font-family: 'Caveat', sans-serif, Arial;
}

p {
    font-family: 'Acme', Arial, sans-serif;
}

#content {
    max-width: 1600px;
    margin: 0 auto;
}

/* HOME */

/* HEADER */
header {
    display: grid;
    grid-template-columns: 150px auto;
    background-color: #8B8C89;
}
header img.logo {
    width: 80px;
}
#logo-link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}
#logo-link:hover {
    opacity: .99;
    transform: scale(1.08);
}
nav {
    display: flex;
    justify-content: space-around;
}
nav a {
    color: white;
    padding: 35px;
    text-align: center;
    text-decoration: none;
    font-size: x-large;
    font-weight: bold;
}
nav a:hover {
    opacity: .99;
    transform: scale(1.08);
}

#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}

/* Grouped together */
#hero-box {
    grid-column: 1 / 4;
    grid-row: 1 / 1;
    z-index: -1;
    margin-top: 10px;
    margin-bottom: 10px;
}
#hero-msg-block {
    z-index: 1;
    background-color: #274C77;
    opacity: .8;
    grid-column: 2 / 3;
    grid-row: 1 / 1;
    margin-top: 100px;
    height: 150px;
    width: 50%;
    justify-self: center;
    box-shadow: 5px 5px 10px black;
}

#hero-msg {
    color: white;
    z-index: 2;
    opacity: 1;
    grid-column: 2 / 3;
    grid-row: 1 / 1;
    margin-top: 100px;
    height: 150px;
    width: 50%;
    justify-self: center;
}
#hero-box, #hero-img {
    width: 100%;
}
/* END HEADER */

/* HOME PAGE */
body {
    text-align: center;
}

main.home-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
.main-head-bar {
    align-self: center;
    font-size: xx-large;
    color: white;
    background-color: #274C77;
    grid-column: 4 / 8;
    margin-bottom: 10px;
}
#main-background {
    grid-column: 2 / 10;
    grid-row: 2 / 13;
    background-color: #6096BA;
    z-index: -1;
}

/* Grouped together */
.main-paragraph {
    grid-column: 2 / 6;
    grid-row: 2 / 5;
    color: white;
    text-align: left;
    z-index: 2;
    font-size: 19px;
    margin: 40px;
}
#main-paragraph-background {
    background-color: #274C77;
    opacity: .5;
    grid-column: 2 / 6;
    grid-row: 2 / 5;
    z-index: 1;
    margin: 20px;
    box-shadow: 5px 5px 10px black;
}

#tired-img {
    grid-column: 7 / 9;
    grid-row: 2 / 5;
    margin: 20px;
    justify-self: center;
    box-shadow: 5px 5px 10px black;
}
#food-head-bar{
    grid-column: 4 / 8;
    grid-row: 5 / 6;
    background-color: #274C77;
    margin-top: 50px;
    align-self: center;
    box-shadow: 5px 5px 10px black;
}
#food-head-bar h3 {
    color: white;
    font-size: x-large;
}
#food-paragraph {
    grid-column: 3 / 9;
    grid-row: 6 / 7;
    justify-self: center;
    color: white;
}

/* Grouped Together */
#shopping-background {
    grid-column: 3 / 6;
    grid-row: 7 / 10;
    background-color: #274C77;
    opacity: .5;
    z-index: 1;
    margin: 20px;
    box-shadow: 5px 5px 10px black;
}
#shopping-head-bar {
    grid-column: 3 / 6;
    grid-row: 7 / 8;
    background-color: #274C77;
    padding: 0 60px;
    margin-top: 40px;
    justify-self: center;
    align-self: center;
    z-index: 1;
}
#shopping-head-bar h3 {
    color: white;
    font-size: x-large;
}
#shopping-paragraph {
    grid-column: 3 / 6;
    grid-row: 8 / 10;
    color: white;
    margin:  0 40px;
    text-align: left;
    z-index: 1;
}
ul li a {
    text-decoration: none;
    color: white
}
ul li a:hover {
    font-weight: bold;
}

/* Grouped Together */
#me {
    grid-column: 6 / 10;
    grid-row: 8 / 10;
    align-self: end;
    justify-self: left;
    border: solid black;
    box-shadow: 5px 5px 10px black;
}
.footnote {
    grid-column: -6 / -3;
    grid-row: 10 / 11;
    text-align: left;
    margin: 10px 10px 0 0;
    color: white;
}
/* END HOMEPAGE */



/* STROKES PAGE */
.strokes-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    /* grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr; */
    grid-template-rows: 1fr 2fr 1fr 2fr 1fr 2fr;
}
#strokes-main-head-bar {
    align-self: center;
    font-size: xx-large;
    color: white;
    background-color: #274C77;
    grid-column: 4 / 8;
    margin-bottom: 10px;
}
#strokes-background {
    grid-column: 2 / 10;
    grid-row: 2 / 10;
    background-color: #6096BA;
    z-index: -1;
}
#intro-paragraph {
    grid-column: 2 / 6;
    grid-row: 2 / 4;
    margin: 20px 0 0 40px;
    color: white;
    font-size: x-large;
    text-align: left;
}
#TYM {
    grid-column: 6 / 10;
    grid-row: 2 / 10;
    margin: 20px 0 0 0;
    justify-self: center;
    box-shadow: 5px 5px 10px black;
}
#BU-head-bar {
    grid-column: 4 / 8;
    grid-row: 3 / 4;
    background-color: #274C77;
    margin-top: 50px;
    align-self: center;
    box-shadow: 5px 5px 10px black;
}
#BU-head-bar h3 {
    color: white;
    font-size: x-large;
}
#BU-paragraph {
    grid-column: 2 / 6;
    grid-row:  4 / 5;
    margin: 20px 0 0 40px;
    color: white;
    text-align: left;
}
#BU {
    grid-column: 6 / 10;
    grid-row: 4 / 5;
    margin: 20px 0 0 0;
    justify-self: center;
    box-shadow: 5px 5px 10px black;
}

#BR-head-bar {
    grid-column: 4 / 8;
    grid-row: 5 / 6;
    background-color: #274C77;
    margin-top: 50px;
    align-self: center;
    box-shadow: 5px 5px 10px black;
}
#BR-head-bar h3 {
    color: white;
    font-size: x-large;
}
#BR-paragraph {
    grid-column: 2 / 6;
    grid-row:  6 / 7;
    margin: 20px 0 0 40px;
    color: white;
    text-align: left;
    font-size: large;
}
#BR {
    grid-column: 6 / 10;
    grid-row:  6 / 7;
    justify-self: center;
    margin: 20px 0 10px 0;
    box-shadow: 5px 5px 10px black;
}

#BF-head-bar {
    grid-column: 4 / 8;
    grid-row: 7 / 8;
    background-color: #274C77;
    margin: auto 0 0 0;
    align-self: center;
    box-shadow: 5px 5px 10px black;
}
#BF-head-bar h3 {
    color: white;
    font-size: x-large;
}
#BF-paragraph {
    grid-column: 2 / 6;
    grid-row:  8 / 9;
    margin: 20px 0 0 40px;
    color: white;
    text-align: left;
    font-size: large;
    font-size: large;
}
#BF {
    grid-column: 6 / 10;
    grid-row: 8 / 9;
    margin: 20px 0 10px 0;
    justify-self: center;
    box-shadow: 5px 5px 10px black;
}
/* END STROKES PAGE */



/* WORKOUTS PAGE */
.workouts-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
#workouts-main-head-bar {
    align-self: center;
    font-size: xx-large;
    color: white;
    background-color: #274C77;
    grid-column: 4 / 8;
    margin-bottom: 10px;
}
#workouts-background {
    grid-column: 2 / 10;
    grid-row: 2 / 13;
    background-color: #6096BA;
    z-index: -1;
}
/* END WORKOUTS PAGE */

/* FOOTER */
footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #8B8C89;
    margin-top: 50px;
    padding: 20px;
    color: white;
    font-size: larger;
}
footer a {
    text-decoration: none;
    color: white;
}
footer a:hover {
    opacity: .99;
    transform: scale(1.08);
}
/* END FOOTER */
