body {
    background-color: black;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    background-color: black;
}

.contentGrid {
    grid-column: 3 / 4;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border-radius: 30px;
    background-color: white;
    text-align: center;
}

img {
    grid-column: 1 / 4;
    grid-row: 1 / 2;
    width: 100%;
    border-radius: 20px 20px 0px 0px;
}

h4 {
    grid-column: 1 / 4;
    grid-row: 2 / 3;
    color: rgb(60, 79, 143);
    margin: 20px 0px 0px 0px;
}

h1 {
    grid-column: 1 / 4;
    grid-row: 3 / 4;
    display: inline;
    margin: 0px;
}

.contentGrid p {
    grid-column: 1 / 4;
    grid-row: 4 / 5;
    color: gray;
    font-weight: bold;
    margin: 25px;
}

.grid2 {
    grid-column: 1 / 4;
    grid-template-columns: 1fr 1fr 1fr;
    display: grid;
    text-align: center;
    background-color: rgb(60, 79, 143);
    border-radius: 0px 0px 20px 20px;
    color: white;
}

.grid2 p {
    font-size: smaller;
    color: white;
}

#left {
    border-right: solid 2px gray;
}

#right {
    border-left: solid 2px gray;
}