/* img {
    width: 80%;
}

p {
    width: 80%;
}

a {
    font-size: 1.5em;
}

img {
    width: 80%;
}

h1 {
    text-align: center;
}

nav, footer {
    text-align: center;
    background-color: steelblue;
    color: white;
    padding: 10px;
}

img {
    width: 80%;
    display: block;
    margin: 0 auto;
}

main p {
    width: 80%;
    /* aligns box */
    /* margin: 50px auto; */
    /* aligns content in box */
    /* text-align: center; */
/* } */

/* Descendant Selector */
/* footer p {
    font-size: 20px;
    margin: 20px auto;
} */
/* 
a:hover {
    background-color: white;
    color: steelblue;
} */

/* * {
    border: 2px solid blue;
}